.header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    position: relative;
}


.nav {
    height: 100%;
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.link-pc {
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    display: flex;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
}


.imag-logo {
    width: 258px;
    height: 80px;
}

.link-phone {
    display: none;
}

@media only screen and (max-width: 600px) {
    .link-pc {
        display: none;
    }

    .link-phone {
        display: block;
    }

    .link-phone {
        margin-top: 50px;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 12px;
    }
    .link-phone a {
        padding: 2px;
    }
}
