<div class="header">
    <div class="nav">
        <div class="logo">
            <img class="imag-logo" src="assets/images/logo.webp" alt="">
        </div>
        <div class="link-pc">
            <a href="">HOME</a>
            <a href="about">ABOUT</a>
            <a href="agent">FIND A AGENT</a>
            <a href="contact">CONTACT</a>
            <a href="pay">PAY NOW</a>
            <a href="registration">JOIN US</a>
            <a href="login">LOGIN</a>
        </div>

        <div style="margin: 5px" class="link-phone">
            <div class="uk-navbar-right">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-flip"></a>
            </div>
        </div>
    </div>
</div>

<div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div>
            <div class="link-phone">
                <a href="">HOME</a>
                <a href="about">ABOUT</a>
                <a href="agent">FIND A AGENT</a>
                <a href="contact">CONTACT</a>
                <a href="pay">PAY NOW</a>
                <a href="registration">JOIN US</a>
                <a href="login">LOGIN</a>
            </div>
        </div>

    </div>
</div>
