<div class="footer">
    <div class="uk-margin-medium-top uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="flex-item">
            <div class="section-1">
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Blog</a>
                <a href="">Charges and Fees</a>
                <a href=""> Find an Agent</a>
                <a href="">Log-in</a>
                <a href="">Pay NOW</a>
            </div>
        </div>
        <div class="flex-item">
            <div class="section-2">
                <div class="social">
                    <img class="social-icons" src="assets/images/twitter.webp" alt="">
                    <img class="social-icons" src="assets/images/facebook.webp" alt="">
                </div>
                <div class="address">
                    Level 16, 309 Kent Street, Sydney NSW 2000 <br>
                    +61 2 8916 6208
                </div>

            </div>
        </div>
        <div class="flex-item">
            <div class="section-3">
                <a href=""> Site Map</a>
                <a href=""> Privacy Policy</a>
                <a href=""> Terms & Conditions</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        © 2020 PaySec. Website by Cc Website Design.
    </div>
</div>
