<app-header></app-header>
<div class="about">
    <div class="image-title">
        <img class="about-image" src="assets/images/small-logo.webp" alt="">
        About
    </div>
    <div class="details">
        The team at PaySEC has over 40 years experience in the travel and finance industry.

        We have brought these leaders together to build a business with one goal in mind and that is to do better for our customers, to be more transparent and accountable to our customers and our business partners.
        <br><br>

        Together we are stronger and we want to ensure the transparency of all payment transactions are conducted in a secure environment for all our travel industry partners and their customers.
    </div>
    <div>
        <div class="link-btn">
            <button class="join-btn">Join Us</button>
        </div>
    </div>
</div>
<app-footer></app-footer>
