<div class="login">
    <div class="title">
        Log in
    </div>
    <div class="need">
        New to this site? <span>Sign Up</span>
    </div>
    <div class="sign-uplink">
        <div class="">
            <button class="facebook">Log in with Facebook</button>
        </div>
        <br><br>
        <div class="">
            <button class="google">Log in with Google</button>
        </div>
        <br><br>
        <div class="auto-login">
            <button class="login-email">Log in with Email</button>
        </div>

    </div>

</div>
