<div class="join-us">
    <div class="image-title">
        <img class="image" src="assets/images/register-logo.webp" alt="">
        <h2>Registration</h2>
    </div>
</div>
<div class="form">
    <input class="no-outline" type="text" placeholder="First Name">
    <input class="no-outline" type="text" placeholder="Last  Name">
    <input class="no-outline" type="text" placeholder="Email">
    <input class="no-outline" type="text" placeholder="Password">
    <input class="no-outline" type="text" placeholder="Address">

    <div class="link-btn-v1">
        <button class="join-btn">Join Us</button>
        <div> Already a member? <a href="login">Log In</a></div>
    </div>
</div>
