<app-header></app-header>
<div class="container">
    <div class="video">
        <!--        <img src="assets/images/content-01.webp" alt="">-->
        <video loop muted playsinline uk-video="autoplay: inview">
            <source src="https://video.wixstatic.com/video/3b2128_43a6f8d13c3c44c6aeb099b5c3dce4f9/1080p/mp4/file.mp4" type="video/mp4">
            Your browser does not support HTML video.
        </video>
    </div>


    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <h2>
                CHANGING THE WAY YOU <br> MAKE TRAVEL PAYMENTS
            </h2>
        </div>
        <div class="details">
            <span>
                Going on a Trip? <br> Use PaySec to secure your payments &  your holiday
            </span>
        </div>
        <div class="link-btn">
            <button class="join-btn">Join Us</button>
        </div>
    </div>


    <div class="black-bc  uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="service services">
            <div class="service-icon">
                <img class="service-icons" src="assets/images/services.webp" alt="">
            </div>
            <div class="service-title">
                SERVICES
            </div>
            <div class="service-details">
                PaySec is a new way to pay for your travel services through Travel Agents and service providers around the world.
                <br>
                <br>
                PaySec is an Escrow payment platform that managers all your travel payments in one place to ensure you receive the services you pay for.
            </div>
            <div class="service-join-btn">
                <div class="link-btn">
                    <button class="join-btn">Join Us</button>
                </div>
            </div>
        </div>
        <div class="security  services">
            <div class="security-icon">
                <img class="service-icons" src="assets/images/security.webp" alt="">

            </div>
            <div class="security-title">
                SECURITY
            </div>
            <div class="security-details">
                Our goal is to ensure that there is a new level of transparency and security when it comes to your travel payments throughout the travel Industry.
                <br>
                <br>
                Your payment will stay secured with us until you have completed your trip.
            </div>
            <div class="security-join-btn">
                <div class="link-btn">
                    <button class="join-btn">Join Us</button>
                </div>
            </div>
        </div>
        <div class="partner services">
            <div class="partner-icon">
                <img class="service-icons" src="assets/images/partner.webp" alt="">
            </div>
            <div class="partner-title">PARTNER</div>
            <div class="partner-details">
                The support of our partners is the key to our success.

                We work with all industry level partners from Airlines, Cruiselines, Hotels and Travel Agencies big and small.
                <br>
                <br>
                We are also accredited with the leading industry bodies.

            </div>
            <div class="partner-join-btn">
                <div class="link-btn">
                    <button class="join-btn">Join Us</button>
                </div>
            </div>
        </div>
    </div>


    <div class="black-bc  uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <video loop muted playsinline uk-video="autoplay: inview">
                <source src="https://video.wixstatic.com/video/3b2128_43a6f8d13c3c44c6aeb099b5c3dce4f9/1080p/mp4/file.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
            <div class="image">
                <img class="content-3-images" src="assets/images/paySec-process.png" alt="">
                <div class="link-btn">
                    <button class="join-btn">Join Us</button>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-child-width-expand@s uk-text-center" uk-grid>

        <div class="content-4">

            <div class="content-4-title">
                Contact
            </div>
            <div class="content-4-address">
                Level 16, 309 Kent Street, Sydney NSW 2000
                <br>
                +61 2 8916 6208
            </div>

            <div class="aaa">
                <div class="required-data">
                    <input class="required-data-field" placeholder="Name" type="text">
                    <input class="required-data-field" placeholder="Email" type="text">
                    <input class="required-data-field" placeholder="Subject" type="text">
                </div>
                <div class="message">
                    <input placeholder="Message" type="text">
                </div>
            </div>

            <div class="content-4-btn">
                <div class="link-btn">
                    <button class="join-btn">Join Us</button>
                </div>
            </div>

            <div class="location">
                <agm-map [latitude]="lat" [longitude]="lng" style="height: 400px;">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>
