.container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.video {
    background-color: #3D161A;
    position: static;
    height: auto;
    width: 100%;
    min-height: 471px;
}

.content-1 {
    font-family: Arial;
    text-align: center;
    position: static;
    height: auto;
    width: 100%;
    min-height: 404px;
}

@font-face {
    font-family: aaa;
    src: url("https://static.wixstatic.com/ufonts/3b2128_72d828c16ce2445c9d10674d5c50b002/woff2/file.woff2") format("woff2"),
    url("https://static.wixstatic.com/ufonts/3b2128_72d828c16ce2445c9d10674d5c50b002/woff/file.woff") format("woff"),
    url("https://static.wixstatic.com/ufonts/3b2128_72d828c16ce2445c9d10674d5c50b002/ttf/file.ttf") format("ttf");
}

@font-face {
    font-family: "BrandonGrotW01-Light";
    src: url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#BrandonGrotW01-Light") format("svg");
}

@font-face {
    font-family: "BrandonGrotW01-Light";
    src: url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot");
    src: url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6dd2f2510b4a00a5461b2455928209c2.svg#BrandonGrotW01-Light") format("svg");
}

.title {
    font-family: aaa;
    font-size: 47px;
}

.details {

    font-family: "BrandonGrotW01-Light", serif;
    margin-top: 20px;
    font-size: 22px;
}

.join-btn {
    cursor: pointer;
    background-color: rgba(219, 219, 219, 1);
    width: 130px;
    height: 50px;
    border: solid rgba(50, 50, 50, 1) 2px;
    border-radius: 20px;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.link-btn {
    margin: 40px auto auto;
    height: 40px;
    min-height: 18px;
    width: 142px;
}

/*content-2*/
.content-2 {
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    min-height: 624px;
}

.service-icon {
}

.service-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.service-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.security-icon {
}

.security-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.security-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.partner-icon {
}

.partner-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.partner-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.service-icons {
    margin-top: 10px;
    width: 82px;
    height: 63px;
}


/*content-23*/
.content-3 {
    background-color: #3D361C;
    height: 400px;
}

.content-4 {
    height: auto;
    width: 100%;
    min-height: 1013px;
}

.content-4-title {
    color: #51D6BB;
    margin-top: 20px;
    text-align: center;
    font-family: aaa;
    font-size: 38px;
}

.content-4-address {
    margin-top: 20px;
    text-align: center;
    font-family: "BrandonGrotW01-Light", serif;
    font-size: 18px;
}
