.container {
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.video {
    background-color: #3D161A;
    position: static;
    height: auto;
    width: 100%;
    min-height: 471px;
}

.content-1 {
    font-family: Arial;
    text-align: center;
    position: static;
    height: auto;
    width: 100%;
    min-height: 404px;
}



.title {
    font-family: aaa;
    font-size: 47px;
}

.details {

    font-family: "BrandonGrotW01-Light", serif;
    margin-top: 20px;
    font-size: 22px;
}



/*content-2*/
.content-2 {
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    min-height: 624px;
}

.service-icon {
}

.service-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.service-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.security-icon {
}

.security-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.security-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.partner-icon {
}

.partner-title {
    color: aqua;
    font-size: 30px;
    font-family: aaa;
    margin-top: 10px;
    margin-bottom: 50px;
}

.partner-details {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: BrandonGrotW01-Light;
    width: 220px;
    min-height: 252px;
    font-weight: bold;
}

.service-icons {
    margin-top: 10px;
    width: 82px;
    height: 63px;
}


/*content-23*/
.content-3 {
    background-color: #3D361C;
    height: 400px;
}

.content-4 {
    height: auto;
    width: 100%;
    min-height: 1013px;
}

.content-4-title {
    color: #51D6BB;
    margin-top: 20px;
    text-align: center;
    font-family: aaa;
    font-size: 38px;
}

.content-4-address {
    margin-top: 20px;
    text-align: center;
    font-family: "BrandonGrotW01-Light", serif;
    font-size: 18px;
}
